[submodule "vendor/asi-http-request"]
	path = vendor/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "vendor/JSONKit"]
	path = vendor/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "vendor/BlocksKit"]
	path = vendor/BlocksKit
	url = https://github.com/zwaldowski/BlocksKit.git
[submodule "vendor/objective-git"]
	path = vendor/objective-git
	url = https://github.com/libgit2/objective-git.git
